.space{
  margin-top: 80px;
}
.Pagination{
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  align-content: center;
  justify-content: flex-start;
}
.hellip{
  font-size: 50px;
}
.wrapper {
  width: 100%;
  /* margin: auto; */
}

.select {
  display: flex;
  color: #0d3b66;
  text-decoration: none;
  border-color: #2a9d8f;
  border-radius: 50px;
  padding: 10px 15px;
  font-size: 20px;
  font-weight: bold;
  -webkit-transition: all 100ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.select:hover {
  background-color: #f56f3a;
  border-radius: 50px;
}
.select:disabled{
  background-color:#f9c74f;
  border: #cfc9c8;
  color: white;
}