.box {
  display: inline-block;
  text-align: center;
  width: 800px;
}
.background {
  display: grid;
  justify-content: end;
  width: 700px;
  height: 645px;
  position: absolute;
  top: 1;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 450;
  color: #22333b;
  font-size: 30px;
  text-shadow: 1px 1px 3px #5e503f;
}
.subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  padding: 0%;
  color: #22333b;
  font-size: 25px;
  text-shadow: 2px 1px 1px #5e503f;
}
.imgContainer {
  height: 300px;
  width: 200px;
  border-radius: 0px 0px 20px 20px;
  display: inline-block;
}

.imgContainer img {
  height: 350px;
  margin: 0px 30px 0px -80px;
}
.innerSkew {
  display: inline-block;
  border-radius: 20px;
  overflow: hidden;
  padding: 0px;
  font-size: 0px;
  margin: -15px 0px 0px -75px;
  background: #c8ccbd;
  height: 350px;
  width: 320px;
}
.textContainer {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 120px 20px 20px 20px;
  border-radius: 20px;
  background: #fff;
  margin: -120px 0px 0px 0px;
  line-height: 19px;
  font-size: 14px;
}
.textContainer h3 {
  margin: 20px 0px 10px 0px;
}
